rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isOwner() {
      return signedIn() && request.auth.token.email == 'hossam50586@delivery-reports-46421.firebaseapp.com';
    }

    function branchForUser() {
      return !signedIn() ? '' :
        request.auth.token.email == 'hawalli@delivery-reports-46421.firebaseapp.com' ? 'حولي' :
        request.auth.token.email == 'marina@delivery-reports-46421.firebaseapp.com' ? 'مارينا مول' :
        request.auth.token.email == 'mushrif@delivery-reports-46421.firebaseapp.com' ? 'مشرف' :
        request.auth.token.email == 'sabah@delivery-reports-46421.firebaseapp.com' ? 'صباح السالم' :
        request.auth.token.email == 'manqaf@delivery-reports-46421.firebaseapp.com' ? 'المنقف' :
        request.auth.token.email == 'saad@delivery-reports-46421.firebaseapp.com' ? 'سعد العبدالله' :
        request.auth.token.email == 'ardiya@delivery-reports-46421.firebaseapp.com' ? 'العارضية' : '';
    }

    match /reports/{reportDate} {
      allow read: if isOwner();
      allow create, update: if isOwner() || (signedIn() && request.resource.data.keys().hasOnly(['lastUpdatedAt']));
      allow delete: if false;

      match /branches/{branch} {
        allow read: if isOwner() || (signedIn() && branchForUser() == branch);
        allow create, update: if isOwner() || (signedIn() && branchForUser() == branch);
        allow delete: if false;
      }
    }
  }
}
